body{
  font-family: 'Didact Gothic';
  margin: 0;
  padding: 0;
}

#home{
 width: 100vw;
 height: calc(100vh - 25px);
 grid-gap: 0px;
 grid-auto-rows: 20px 140px 1fr 1fr;
 z-index: 99;
}

#chain_view, #transaction_bin{
/*  grid-template-rows: repeat( auto-fill, 90px );*/
  overflow-y: auto;
  grid-gap: 5px;
}

#transaction_bin{
  background-color: rgba(0, 152, 112, 0.39);
}

.transaction{
  padding-bottom: 15px;
}

#header{
  /*background-color: #cc63cc;*/
  background-color: black;
  height: 100%;
  z-index: 0;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.button{
  background-color: black;
  color: white;
  height: 100%;
  text-align: center;
  user-select: none;
}
.button:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}

.grid{
  display: grid;
}


.block{
    grid-template-rows: repeat( auto-fit, 30px );
    background-color: #cacaff;
}

.data_entry_line{
    grid-template-columns: 1fr 5fr;
}

.textarea{
  resize: none;
}
