/* VARIABLES ////////////////////////////////////////////*/
:root {
  --main-menu-color: #f28a7f;
  --main-menu-complementary: 	#bff8c4;
  --main-menu-bg: rgba(236, 172, 218, 0.21);
  --main-bg-color: #f5f5f5;
  --main-secondary-color: #ffbcbc;
  --main-tetriary-color: #20a06d;
  --main-item-color: #ace9ec;
  --menu-button-height: 30px;
  --header-size: 25px;
  --login-menu-height: 250px;
  --login-menu-width: 400px;
}

/* IDS      ////////////////////////////////////////////*/

/* MIGRATE EVERYTHING TO PARALAX FOR CHAINING */

body{
  font-family: 'Didact Gothic';
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

body  *::selection{
    color:white;
    background-color: black;
}

#page{
  grid-template-columns: 50px 1fr;
  grid-gap: 5px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#left_menu{
  background-color: var(--main-menu-bg);
  grid-template-columns: 1fr;
  grid-auto-rows: var(--menu-button-height);
  grid-gap: 10px;
  padding-left: 10px;
  padding-top: 10px;

}

#login_menu{
  margin: var(--login-menu-height) auto;
  height: var(--login-menu-height);
  width: var(--login-menu-width);
  box-shadow: 2px 15px 20px rgba(32,160,109, 0.4);
}

#user_login_box{
  padding-top: 6px;
  grid-gap: 6px;
  height: 100%;
  grid-template-rows: repeat( 3 , 1fr);
}

#home_page{

}

#home{
 height: 100vh;
 grid-gap: 0px;
 grid-auto-rows: var(--header-size) 1fr;
 z-index: 99;
}

#chain_page{
    grid-template-rows: 1fr 4fr;
}

#timeline_page{
  grid-gap: 10px;
  grid-auto-rows: 90px;
  padding: 80px;
  overflow-y: auto;
}

#header{
  background-color: var(--main-bg-color);
  grid-template-columns: 1fr 130px;

}

#header_menu{
  display:flex;
  direction: rtl;
  align-content: center;
}

#draggable{
    -webkit-app-region: drag;
}

#chain_view, #transaction_bin{
  overflow-y: auto;
  grid-gap: 5px;
}
#transaction_entry{
  /*width: 80%;*/
}

#transaction_view > *{
  margin-bottom: 20px;
}

#transaction_view{
  grid-template-rows: repeat(5,1fr);
}

/* CLASSES ////////////////////////////////////////////*/

.page{
  height: calc(100vh - 20px);
  padding: 10px 50px;
  overflow-y: auto;
}

.transaction{
  margin: 15px 0px;
  background-color: var(--main-item-color);
}


.button{
  background-color: var(--main-secondary-color);
  color: black;
  height: 20px;
  text-align: center;
  user-select: none;
  padding: 0px 20px;
}

.header_button{
  justify-content: center;
  padding: 5px 10px;
  transition: all 0.3s ease 0s;
}

.header_button:hover{
  background-color: #20a06d;
  /*background-color: var(--main-menu-color);*/
  box-shadow: 2px 15px 20px rgba(32,160,109, 0.4);
  color: #fff;
  transform: translateY(-3px);

}

.main_menu_button{
  background-color: var(--main-menu-color);
  line-height: var(--menu-button-height);
  width: var(--menu-button-height);
  border-radius: 35%;
  height: 100%;
  text-align: center;
  user-select: none;

  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.main_menu_button:hover, .submit_button:hover {
  background-color:  var(--main-tetriary-color);
  /*background-color: var(--main-menu-color);*/
  box-shadow: 2px 15px 20px rgba(32,160,109, 0.4);
  color: #fff;
  transform: translateY(-3px)  translateX(-2px);
}


.button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.submit_button{
  background-color: var(--main-menu-color);
  display: grid;
  align-content: space-around;
  text-align: center;
  font-size: 30px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  user-select: none;
}

.grid{
  display: grid;
}

.flex{
  display: flex;
}

.title_menu > div{
  margin-right: 10px;
}

.title{
  font-size: x-large;
  padding-left: 20px;
}

.block{
    /*grid-template-rows: repeat( auto-fit, 30px );*/
    margin-top: 20px;
}
.collapse{
    background-color: var(--main-menu-bg);/*var(--main-item-color);*/
    cursor: pointer;
    margin-top: 10px;
}

.collapsable{
  padding-left: 50px;
}

.data_entry_line{
    grid-template-columns: 1fr 5fr;
}

.textarea{
  resize: none;
}

.input{
  font-size: 30px;
  /*padding-left: 10px;*/
  text-align: center;
}



.label{
  font-size: 10px;
}

.hidden{
  display: none !important;
}

.icon{
  color: black;
  font-size: 2em;
  text-align: center;
  line-height: 25px;
  transition: all 0.5s ease 0s;
}

.time_line_data_container{
  display: grid;
  grid-gap: 10px;
}

#time_entry_id:hover .icon{
  color: black;
  line-height: 65px;
}

#time_entry_id:hover .collapsable{
  display: flex !important;
}


.time_entry{
  /*  border: 1px solid black;*/
}


.width_100{
  width: 100%;
}

/*///////////////////////////////////////////////////////////////////////////*/
.loader {

  border-radius: 70%;
  borde-bottom: 1px solid #f3f3f3;
  border-top: 3px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 0.51s linear infinite;
  position: absolute;
  left: calc(50vw - 60px);
  top: calc(50vh - 60px);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
